<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Panel de Administración</title>
</head>
<body>
  <h1>Bienvenido, {{user.first_name}} {{user.last_name}}!</h1>
  <h1>Eres usuario administrador tienes acceso</h1>
  <p>Email: {{user.email}}</p>
  <p>Rol: {{user.role}}</p>
  <p>Edad: {{user.age}}</p>

</body>
</html>
