<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/carts">Cart</a></li>
    <li><a href="/realtimeproducts">Real-time Products</a></li>
    <li><a href="/chat">Chats</a></li>
    <li><a href="/perfil">Perfil</a></li>
  </ul>
</nav>
<form action="/carts/{{cartId2}}/purchase" method="POST">
  <button type="submit">Purchase Cart</button>
</form>
<h3>Your Cart {{cartId2}}</h3>
<ul>
  {{#each products}}
    <li>

        <h2>{{this.product.title}}</h2>
        <p>Price: ${{this.product.price}}</p>
        <p>Category: {{this.product.category}}</p>
        <p>Stock: {{this.product.stock}}</p>        
        <p>Quantity: {{this.quantity}}</p>

        <form action="/carts/products/{{this._id}}" method="POST">
       <!-- <input type="hidden" name="productId" id="productId" value="{{this._id}}"> -->
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Delete Product</button>
        </form>

</li>
  {{/each}}
</ul>