<h1>Home</h1>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/carts">Cart</a></li>
    <li><a href="/realtimeproducts">Real-time Products</a></li>
    <li><a href="/chat">Chats</a></li>
    <li><a href="/perfil">Perfil</a></li>
  </ul>
</nav>
<h2>Hola bienvenido {{user.first_name}}</h2>
<form action="/carts/cartId2" method="POST">
  <label for="cartId2">Cart:</label>
  <input type="number" name="cartId2" id="cartId2" value="" />
  <button type="submit">View Cart</button>
</form>

<form action="/logout" method="POST">
  <button type="submit">Cerrar sesión</button>
</form>

{{#each products}}
  <div class="product-list">
    <div class="product">
      <h2>{{title}}</h2>
      <p>{{description}}</p>
      <span>${{price}}</span>
      <img src="{{thumbnail}}" alt="{{title}}" />
    </div>
  </div>
{{/each}}